.FeedbackModalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.425);
  z-index: 999;
}
.modalbtnClose {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  float: right;
}
.ModalFeedbackDark {
  padding: 20px;
  border-radius: 8px;
  width: 335px;
  background-color: #171820;
}
.ModalFeedback {
padding: 20px;
    border-radius: 8px;
    width: 335px;

    background-color: #ffffff;
}
.Wrapperblock {
  margin-bottom: 20px;
}
.TextRating {
    color: rgba(52, 52, 52, 0.80);
    font-size: 12px;
    margin-bottom: 8px;
    font-weight: 500;
}
.TextRatingError {
font-size: 12px;
  margin-bottom: 8px;
  font-weight: 500;
  color: rgb(255, 71, 71);
}
.TextRatingDark {
  color: rgba(250, 250, 250, 0.3);
  font-size: 12px;
  margin-bottom: 8px;
font-weight: 500;
}
.InputText {
    background-color: #F6F6F6;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    resize: none;
    width: 100%;
    padding: 14px;
    outline: none;

    font-size: 14px;
}
.InputTextErorLight {
background-color: #F6F6F6;
  border-radius: 8px;
  border: 1px solid rgb(250, 43, 43);
  resize: none;
  width: 100%;
  padding: 14px;
  outline: none;

  font-size: 14px;
}
.InputTextDark {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  resize: none;
  width: 100%;
  padding: 14px;
  outline: none;
  color: white;
  font-size: 14px;
}
.InputTextErrorDark {
    background-color: transparent;
    border-radius: 8px;
  border: 1px solid rgb(250, 43, 43);
    resize: none;
    width: 100%;
    padding: 14px;
    outline: none;
    color: white;
    font-size: 14px;
}
.BtnSave {
    cursor: pointer;
    width: 100%;
    height: 42px;
    border-radius: 8px;
    background: #3E85F3;
    border: none;
    color: white;
    margin-top: 14px;
}
.wrapperLoader {
position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2c4;
  top: 0;
  left: 0;
}