@import '/src/styles/styles.scss';

.container {
  display: flex;
  background-color: #dcebf7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;



  // @media screen and (min-width:1280px) {
  //   background-image: url('../../img/SignIn/elements.png');
  //   background-size: 400px 416px;
  //   background-repeat: no-repeat;
  //   background-position: 32px 354px;
  // }
}

.form {
  width: 335px;
  height: 469px;
  background: #ffffff;
  border-radius: 8px;
  padding: 40px 24px;
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    width: 480px;
    height: 521px;
    padding: 40px 40px;
    margin-bottom: 24px;
  }
}

.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #3e85f3;
  text-shadow: 0px 47px 355px rgba(0, 0, 0, 0.07),
    0px 9.4px 57.6875px rgba(0, 0, 0, 0.035);
  margin-bottom: 32px;
}


// .img {
//   position: relative;
//   display: flex;
//   justify-content: flex-end;
// }

.left {
  position: absolute;
  top: 305px;
  left: 100px;
  width: 400px;
  height: auto;
  display: none;

  @media (min-width: 1280px) {
    display: block; 
  }
}
.Error {
  color: red;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}