@import '/src/styles/styles.scss';

.container {
  background-color: #dcebf7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 335px;
  height: 469px;
  background: #ffffff;
  border-radius: 8px;
  padding: 40px 24px;
  margin-bottom: 18px;
}

.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #3e85f3;
  text-shadow: 0px 47px 355px rgba(0, 0, 0, 0.07),
    0px 9.4px 57.6875px rgba(0, 0, 0, 0.035);
  margin-bottom: 32px;
}

.label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.input {
  padding: 14px;
  width: 287px;
  height: 46px;
  margin-bottom: 24px;

  background: #ffffff;
  border: 1px solid rgba(220, 227, 229, 0.6);
  border-radius: 8px;

  margin-top: 8px;

  &::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    color: #dce3e5;
  }
}

.input:last-child {
  margin-bottom: 0;
}

.btn {
  width: 287px;
  height: 46px;
  background: #3e85f3;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
  border-radius: 16px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.logInButton {
  justify-content: center;
  align-items: center;
}

.link {
  color: #3e85f3;
  text-decoration-line: underline;
}

.icon {
  margin-left: 11px;
}
