@import '/src/styles/styles.scss';

.container {
  background-color: #dcebf7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;


  // @media screen and (min-width: 1280px) {
  //   background-image: url('../../img/SignIn/elements1.png');
  //   background-size: 368px 512px;
  //   background-repeat: no-repeat;
  //   background-position: -100px 160px;
  // }
}

.form {
  width: 335px;
  height: 376px;
  background: #ffffff;
  border-radius: 8px;
  padding: 40px 24px;
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    width: 480px;
    height: 424px;
    padding: 40px 40px;
    margin-bottom: 24px;
  }
}

.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #3e85f3;
  text-shadow: 0px 47px 355px rgba(0, 0, 0, 0.07),
    0px 9.4px 57.6875px rgba(0, 0, 0, 0.035);
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 17px;
  }
}

.input {
  padding: 14px;
  width: 287px;
  height: 46px;
  margin-bottom: 24px;

  background: #ffffff;
  border: 1px solid rgba(220, 227, 229, 0.6);
  border-radius: 8px;

  margin-top: 8px;

  @media screen and (min-width: 768px) {
    padding: 18px;
    width: 400px;
    height: 54px;
  }

  &::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    color: #dce3e5;
  }
}

.input:last-child {
  margin-bottom: 0;
}

.btn {
  width: 287px;
  height: 46px;
  background: #3e85f3;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
  border-radius: 16px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  border: none;
  color: #fff;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 400px;
    height: 56px;
    padding: 16px;
  }
}

.logInButton {
  justify-content: center;
  align-items: center;
}

.link {
  color: #3e85f3;
  text-decoration-line: underline;
}

.icon {
  margin-left: 11px;
}

.img {
  position: absolute;
  width: 368px;
  height: 521px;
  top: 230px;
  right: 60px;
  bottom: 19px;
}


.right {
  position: absolute;
  top: 200px;
  right: 70px; 
  width: 368px;
  height: auto;
  display: none;

  @media (min-width: 1280px) {
    display: block; 
  }
}
.Error {
color: red;
    display: flex;
      justify-content: center;
margin-bottom: 10px;
}