.WrapperMassage {
max-height: 211px;
margin-top: 24px;
background-color: rgba(227, 243, 255, 0.50);
padding-right: 5px;
padding-top: 14px;
padding-left: 14px;
border-radius: 8px;
padding-bottom: 14px;
}
.WrapperMassageDark {
max-height: 211px;
    margin-top: 24px;
    background-color: #21222C;
    padding-right: 5px;
    padding-top: 14px;
    padding-left: 14px;
    border-radius: 8px;
    padding-bottom: 14px;
}
.feedbackDark {
    display: flex;
    flex-direction: column;
    gap: 15px;
overflow: auto;
max-height: 180px;
padding-right: 15px;

}
.feedback {
    display: flex;
        flex-direction: column;
        gap: 15px;
        overflow: auto;
        max-height: 180px;
        padding-right: 15px;
}
.feedbackDark::-webkit-scrollbar {
    width: 6px;
   
}

.feedbackDark::-webkit-scrollbar-thumb {
    background-color: rgba(23, 24, 32, 1);
    border-radius: 8px;

}

.feedbackDark::-webkit-scrollbar-track {
    background-color: rgba(45, 48, 55, 1);
    border-radius: 8px;

}
.feedback {
overflow: auto;
    max-height: 180px;
    padding-right: 15px;
}
.feedback::-webkit-scrollbar {
    width: 6px;
}

.feedback::-webkit-scrollbar-thumb {
    background-color: #b1b1b1;
    border-radius: 8px;

}

.feedback::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 8px;
}



.wrapperUser {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Subscript {
margin-left: 50px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    margin-bottom: 10px;
}
.SubscriptLight {
margin-left: 50px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-bottom: 10px;
}
.NameUser {
font-size: 14px;
    font-weight: 700;
    margin-right: 3px;
    color: white;
}
.NameUserLight {
font-size: 14px;
    font-weight: 700;
    margin-right: 3px;
    color: rgb(0, 0, 0);
}

.PhotoUser {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 40px;
    height: 40px;
// background: #6190E8;
//     background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);
//     background: linear-gradient(to right, #A7BFE8, #6190E8);

background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.Arrow {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;

    & button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 40px;
    }
}

.wrapperReviews {
    display: flex;
    justify-content: center;
    gap: 10px;

}
.wrapperText {
border-bottom: 1px solid rgb(38 39 49);

}
.wrapperTextLight {
border-bottom: 1px solid rgb(153 216 255 / 24%);
}