@import '/src/styles/styles.scss';
.wrapperBGAuthPage {
  background-color: #f7f6f9;
padding-bottom: 32px;
@media screen and (min-width: 1200px) {
        padding-left: 289px;
    }
}
.wrapperBGAuthPageDark {
  background-color: getColor('dark-light-theme');
padding-bottom: 32px;
@media screen and (min-width: 1200px) {
    padding-left: 289px;
  }

}
.Wrapper {
  // width: 100%;
  // height: calc(100vh - 80px);
  // background-color: getColor('dark-light-theme');
}
