@import '/src/styles/styles.scss';
.AuthSection {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
width: 100%;
height: 100vh;
background-color: getColor('full-blue');
}
.logo {
width: 150px;
height: 149px;
}
.Title {
    font-family: Coolvetica;
font-size: 44px;
text-align: center;
color: getColor('full-white');
@media screen and (min-width: 420px) {
    font-size: 70px;
}
@media screen and (min-width: 768px) {
    font-size: 120px;
}
}
.wrapperBtn {
display: flex;
flex-direction: column-reverse;
gap: 10px;
}
.Sign {
    cursor: pointer;
background-color: transparent;
border: none;
& p {
text-decoration: solid;
}
}
.LogIn {
    cursor: pointer;
padding: 14px 32px;
background: #FFFFFF;
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 16px;
    border: none;
}